<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="icon" 
      type="image/png" 
      href="https://emailiconserver--jacobwucate.repl.co/Files/Personal%20Logo%20001.png">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Programming Notebook</h1>
      <h2 class="project-tagline">by Jacob Wu</h2>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}
    </section>

    <section class="main-content">
      
      {{ content }}
<!--       <div class=”float-button”>
        {% include toc.html html=content %}
      </div> -->

      <footer class="site-footer">
        <span class="site-footer-owner">©2020 by <a href="https://www.jacobwu.org">Jacob Wu</a>.</span>
        <span class="site-footer-credits">Published with <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>

    </section>
    <div id="container-floating">

      <div id="floating-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#floatingnav"  data-placement="left">
        <i id="legend" class="fa fa-tasks fa-stack-1x fa-inverse fa-2x" style="top:12px" role="button" tabindex="0"></i>
    </div>
  <div id="floatingnav" class="collapse">
      <div class="nd1 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
      <div class="nd3 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
      <div class="nd4 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
  </div>

  </div>

  
  </body>
</html>
